@model BookingAppStore.Models.Book

@{
    ViewBag.Title = "Edit";
}

<h2>Книга № @Model.Id</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Name, "Название книги")<br />
        @Html.EditorFor(m => m.Name)<br /><br />
        @Html.LabelFor(m => m.Author, "Автор")<br />
        @Html.EditorFor(m => m.Author)<br /><br />
        @Html.LabelFor(m => m.Price, "Цена")<br />
        @Html.EditorFor(m => m.Price)<br /><br />
        <input type="submit" value="Отправить" />
    </fieldset>
}
